/* Start Common CSS */
* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    color: #59554E;
}

p {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.primary-btn {
    border: none;
    background: linear-gradient(to right,#FC5A4C, #F01EAD);
    padding: 10px 20px;
    border-radius: 10px;
    transition: all linear 0.3s;
}
.primary-btn a {
    color: #fff;
}
.primary-btn:hover {
    background: linear-gradient(#FC5A4C, #FC5A4C);
}

section {
    padding-bottom: 80px;
}
/* End Common CSS */

/* Start NavBar Area */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar .primary-btn {
    background: #F01EAD;
}
/* End NavBar Area */

/* Start Banner Area */
#banner {
    position: relative;
    overflow: hidden;
}

.banner-text h1 {
    font-size: 45px;
    font-weight: 800;
}

.banner-text p {
    color: #333;
    padding: 30px 0px 20px 0px;
}

.banner-img {
    z-index: 1;
}

.banner-shape {
    width: 700px;
    height: 350px;
    background: linear-gradient(to right,#FC5A4C, #F01EAD);
    border-radius: 0px 100px 100px 0px;
    transform: rotate(140deg);
    position: absolute;
    top: 0;
    right: -90px;
    z-index: -1;
}
/* End Banner Area */

/* Start Future Area */
.future-content {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.future-content i {
    font-size: 40px;
}

.icon-shape {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right,#FC5A4C, #F01EAD);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
/* End Future Area */

/* Start Learning Area */
.lren-box-area {
    padding-top: 50px;
}

.lern-box h5 {
    font-size: 18px;
}

.lern-box p {
    font-size: 15px;
    font-weight: 400;
    padding: 15px 0 10px 0;
}

.lern-box a {
    color: #FC5A4C;
}
/* End Learning Area */

/* Start Popular Area */
.title h2 {
    font-size: 50px;
    font-weight: 900;
    color: #FC5A4C;
    text-transform: uppercase;
}
.popular-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popular-items-area {
    position: relative;
    width: 1030px;
}

.popular-item {
    width: 230px;
    height: 230px;
    background: linear-gradient(to right,#FC5A4C, #F01EAD);
    border-radius: 170px 0px 0px 0px;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
}

.popular-content {
    transform: rotate(-45deg);
}

.popular-content img {
    width: 45px;
}

.popular-content p {
    padding: 20px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.popular-content h6 a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #59554E;
}

.popular-item:nth-child(2) {
    transform: rotate(225deg);
    left: 175px;
    top: 175px;
}

.popular-item:nth-child(even) .popular-content {
    transform: rotate(135deg);
}

.popular-item:nth-child(3) {
    transform: rotate(45deg);
    left: 350px;
    background: linear-gradient(to bottom,#FC5A4C, #F01EAD);
}

.popular-item:nth-child(4) {
    transform: rotate(225deg);
    left: 525px;
    top: 175px;
    background: linear-gradient(to left,#FC5A4C, #F01EAD);
}

.popular-item:nth-child(5) {
    transform: rotate(45deg);
    left: 700px;
}
/* End Popular Area */